<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div class="card-body">
            <h5 class="card-title">Dog harness - $9.99</h5>
            <p class="card-text">This red dog harness will accompany you on all your walks.</p>
            <a href="#" class="btn btn-primary" [routerLink]=" ['./paypal-payments'] ">BUY</a>
        </div>
    </div>
</div>
